.addpaper-open-button {
    /* margin-top: 5%; */
    /* margin-left: 3%; */
    /* float: right; */
    /* width: 100px;
    height: 60px; */
    /* margin-bottom: 50%; */
    white-space: nowrap;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.modal-header #header-buttons {
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
    background: red;
}*/

#update-message {
    font-size: 100%;
    color: #DC143C;
    margin-top: 8%;
}

.cancel-button {
    margin-left: 5%;
    padding-left: 10px;
}

#add-paper-to-my-collections {
    font-size: 21px;
    font-weight: bold;
}

.addpaper-open-button .entry-board {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
