.paperspec {
    /* background-color: aquamarine; */
}

.paperspec #title {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 250%;
    font-weight:bold;
}

.paperspec #date {
    margin-top: 2%;
    text-align: right;
    margin-right: 5%;
    font-size: 100%;
}

.paperspec .url-button {
    margin-left: 85%;
}

.paperspec #authors {
    text-align: left;
    margin-left: 5%;
    font-size: 110%;
    font-weight: 700;
}

.paperspec .author-keywords {
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 100%;
    font-weight: 600;
    font-style: bold;
}

.paperspec #author-keywords-content {
    text-align: left;
    margin-left: 2%;
    margin-right: 5%;
    font-size: 100%;
    font-weight: 300;
    font-style: italic;
}

.paperspec .abstract-keywords {
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 100%;
    font-weight: 600;
    font-style: bold;
}

.paperspec #abstract-keywords-content {
    text-align: left;
    margin-left: 2%;
    margin-right: 5%;
    font-size: 100%;
    font-weight: 300;
    font-style: italic;
}

.paperspec .buttons {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 4%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.paperspec .buttons .like-button {
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid  rgb(255, 120, 120);
}

.paperspec .abstract {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.paperspec .abstract #abstract-title {
    text-align: left;
    font-size: 150%;
}

.paperspec .abstract #abstract-content {
    text-align: justify;
    text-indent: 1em;
}
