.paperspec #title {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 250%;
    font-weight:bold;
}

.paperspec #date {
    margin-top: 2%;
    text-align: right;
    margin-right: 5%;
    font-size: 100%;
}

.paperspec #authors {
    text-align: left;
    margin-left: 5%;
    font-size: 110%;
    font-weight: 700;
}

.paperspec #keywords {
    text-align: left;
    margin-left: 5%;
    font-size: 100%;
    font-weight: 300;
    font-style: italic;
}

.paperspec .buttons {
    width: 100px;
    margin-left: 5%;
    margin-top: 15px;
}

.paperspec .buttons .like-button {
    margin-top: 5%;
    float: left;
}

.paperspec .abstract #abstract-title {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 150%;
}

.paperspec .abstract #abstract-content {
    text-align: left;
    margin-left: 5%;
    text-indent: 1em;
}


