.header {
    justify-content: space-between;
    display: flex;
    position: sticky;
    border-bottom: 2px solid rgb(220,224,227);
}

.header .logo {
    font-weight: bold;
    text-decoration-color: #2f87ef;
    font-size: 20px;
    padding: 10px;
    margin-right: auto;
}

.header .search {
    display: flex;
    align-items: stretch;
}

.header .search .search-input {
    width: 400px;
    background:rgb(242,243,247);
}

.header .buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;

}
.header .notification-button {

}

.header .myaccount-button {

}

.header .myaccount-modal .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
}