.welcome-sentence {
    margin-top: 25%;
    text-align: center;
}

.welcome-sentence #welcome-to {
    display: inline-block;
}

.welcome-sentence #papersfeed {
    display: inline-block;
    font-style: oblique;
    font-weight: bold;
    color: #2f87ef;
}

.welcome-sentence #exclamation-mark {
    display: inline-block;
}

.buttons {
    margin-left: 43%;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.signup {
    display: flex;
    margin-right: 2%;
}

.signin {
    display: flex;
}