#collectionListText {
    padding: 15px;
    font-size: 200%;
    font-weight: 700;
}

#collectionNewButtonDiv {
    margin: 15px;
}

#collectionDetailTab {
    background: white;
    border-radius: 2%;
}
