.CollectionListContent {
    min-height: 1000px;
    background: rgb(242,243,247);
     
    position: relative;
    display: flex;
    flex-direction: column;
}

.CollectionListContent #collectionListText {
    width: 96%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 200%;
    font-weight: 700;
}

.CollectionListContent #colletionCards {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.CollectionListContent #colletionCards #collectionCardsLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.CollectionListContent #colletionCards #collectionCardsRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}