.search-result {
    background: rgb(242,243,247);
    margin-left: 18%;
    display: flex;
}

.item-list {
    margin-left: 1%;
    margin-right: 5%;
    background: rgb(255,255,255);
}

.item-list #paper-cards {
    width: 100%;
    height: 100%;
    margin: 15px;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.item-list #paper-cards-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-list #paper-cards-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-list #collection-cards {
    width: 100%;
    height: 100%;
    margin: 15px;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.item-list #collection-cards-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-list #collection-cards-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-list #user-cards {
    width: 100%;
    height: 100%;
    margin: 15px;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.item-list #user-cards-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-list #user-cards-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}