.TransferOwnership .OpenButtonDiv #modalOpenButton {
    max-width: 150px;
    height: 40px;
}

#transferModal .ModalHeader{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#transferModal .ModalBody{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    display:flex;
    flex-direction: column;
    align-content: center;
}

#inviteModal .ModalBody #searchArea{
    display: flex;
    width: 100%;
    margin-left: 5%;
    margin-bottom: 3%;;
}

#inviteModal .ModalBody #searchArea #userSearchBar{
    flex: 0 1 300px;
}

#transferModal .modalFooter{
    display: flex;
    align-items: flex-end;
}