.AccountSetting {
    min-height: 91vh;
    background: rgb(242,243,247);
}

.AccountEditArea {
    padding: 10px;
}

#headerText {
    font-size: 250%;
    font-weight: bolder;
}

#editEmailNotice {
    font-size: 100%;
    font-style: italic;
}

.editMessage {
    font-size: 100%;
    color: #DC143C;
}

#editPhotoArea {
    display: flex;
    flex-direction: column;
}

#photoList {
    position: relative;
    left: 10%;
    padding-left: 0px;
    width: 80%;
}

.AccountButtons {
    margin: 5px;
}