.sidebar {
    position: sticky;
    width: 100%;
    top: 9vh;
}
 
.sidebar #sidebar {
    width: 100%;
    display: inline-block;
}

@media (min-width: 576px) {
  .sidebar{
    min-height: 91vh;
  }

  .sidebar #sidebar {
    min-height: 81vh;
  }
}

.sidebar-link {
    color: black;
    font-size: 120%;
    font-weight: bold;
    padding: 12%;

    flex-basis: 50%;
    height: 5vh;
    min-height: 40px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
}

.sidebar-link:hover {
    background:rgb(207, 207, 207);
}

