.sidebar {
    display: flex;
    margin-left: 1%;
    flex-direction: column;
    align-items: flex-start;   
    height: 100%;
    width: 18%;
    position:absolute;
}

.sidebar .main-link {
    margin-top: 10%;
    color: black;
    font-weight: bold;
    font-size: 110%;
    padding: 12%;
}

.sidebar .collection-link {
    color: black;
    font-size: 110%;
    font-weight: bold;
    padding: 12%;
}

.sidebar .history-link {
    color: black;
    font-size: 110%;
    font-weight: bold;
    padding: 12%;
}