.sidebar {
    position: sticky;
    top: 9vh;
    width: 100%;
    min-height: 91vh;
    /* background: rgb(245, 245, 245) */
    /* border-right: 2px solid rgb(220,224,227); */
    /* width: 500px; */
}
 
.sidebar #sidebar {
    min-height: 81vh;
    width: 100%;
    /* background: red; */
    display: inline-block;
}

.sidebar-link {
    color: black;
    font-size: 120%;
    font-weight: bold;
    padding: 12%;

    flex-basis: 50%;
    height: 5vh;
    min-height: 40px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
}

.sidebar-link:hover {
    background:rgb(207, 207, 207);
}
