.collection-entry {
    width: 50%;
    margin-left: 5%;
    margin-top: 15px;
}

.collection-entry #collection-title {
    margin-top: 2%;
    margin-left: 5%;
    float: left;
}

.checkButton {
    margin-top: 5%;
    margin-left: 5%;
    float: right;
}