.feeds {
    min-height: 1000px;
    background: rgb(242,243,247);
    margin-left: 250px;
    position: relative;
    display: flex;
}

.feeds .board {
    width: 100%;
    height:100%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 200px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.feeds .board .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.feeds .board .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}