.feeds {
    background: rgb(242,243,247);
    margin-left: 18%;
    display: flex;
}

.feeds .board {
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.feeds .board .left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.feeds .board .right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}