.ProfileDetailContent {
    min-height: 1000px;
    background: rgb(242,243,247);
     
    position: relative;
    display: flex;
    flex-direction: column;
}

.userInfo {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.userInfo .userStatistic {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.userInfo .userDescAndButton {
    display: flex;
    flex-direction: column;
}

.userInfo .userDescAndButton #buttonDisplayed {
    align-self: flex-end;
}

.userInfo .userDescAndButton #userDescription {
    align-self: flex-start;
    white-space: pre-wrap;
    text-align: left;
    margin-left: 20px;
}

.itemTabSection {
    margin-left: 5%;
    margin-right: 10%;
    background: rgb(255,255,255);
}

.itemTabSection #collectionCards {

    width: 100%;
    height: 100%;
    margin: 15px;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.itemTabSection #collectionCardsLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.itemTabSection #collectionCardsRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.itemTabSection #reviewCards {
    width: 100%;
    height: 100%;
    margin: 15px;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.itemTabSection #reviewCardsLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.itemTabSection #reviewCardsRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}