.paperdetail {
    min-height: 1000px;
    background: rgb(242,243,247);
    margin-left: 250px;
    position: relative;
    display: flex;
}

.paperdetail-content {
    height: 100%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 90%;
    background: white;
    border-radius: 0.5em;
}

.paperdetail-content .up-review {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.paperdetail-content #review-count {
    text-align: left;
    margin-top: 5%;
    margin-left: 3%;
}

.paperdetail-content .review-add {
    margin-top: 5%;
    margin-right: 5%;
}

.paperdetail-content .reviewcards {
    width: 100%;
    height: 100%;
    margin-left: 2.5%;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.paperdetail-content .reviewcards-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.paperdetail-content .reviewcards-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
