.buttons {
    margin-left: 43%;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.signup-open-button {
    display: flex;
    margin-right: 2%;
}

#signup-message {
    font-size: 100%;
    color: #DC143C;
    margin-top: 2%;
}

#signin-message {
    font-size: 100%;
    color: #DC143C;
    margin-top: 2%;
}

.signin-open-button {
    display: flex;
}