
#memberModal .memberModalHeader{
    display:flex;
    align-items: center;
    justify-content: center;
}

#memberModal .memberModalBody{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    display:flex;
    flex-direction: column;
}

#memberModal .memberModalBody .memtoinviteButton{
    align-self: flex-end;
}

#memberModal #kickOffButtons{
    display: flex;
    align-items: flex-end;
}

#memberModal #closeButton{
    align-self: flex-end;
}