.wrapper {
    padding-bottom: 10%;
}

#headerSubscriptionTarget {
    display: inline-block;
    /* flex-direction: row; */
    /* justify-content: space-around; */
}

#headerSubscription {
    display: inline-block;
    /* flex-direction: row;
    justify-content: space-around; */
}

#headerLine {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
}

.paper {
    width: 90%;
    text-align: left;
}

.paper .body {
    padding: 10%;
}

.paper .body .title {
    padding-bottom: 10%;
}

.paper .body .title .text{
    color: black;
    font-weight: bold;
    font-size: 130%;
}

.paper .body .authors{
    text-align: left;
    font-size: 110%;
    font-weight: 600;
}

.paper .body .keywords{
    text-align: left;
    font-size: 100%;
    font-weight: 300;
    font-style: italic;
}

.paper #footer-flex {
    display: flex;
    justify-content : space-between;
}

 #footer-left-buttons {
    display: block;
}

.like-button {
    height: 40px;
    width: 60px;
}

.review-button {
    height: 40px;
    width: 60px;
}

#reviewButtonInside {
    /* width: 17%; */
    display: flex;
    justify-content: space-around;
}

#likeButtonInside {
    /* width: 17%; */
    display: flex;
    justify-content: space-around;
}
