.wrapper {
    padding-bottom: 10%;
}

#headerPaperSubscriptionTarget {
    background-color: rgb(232, 240, 247);
}

#headerPaperSubscription {
    background-color: rgb(232, 240, 247);
}

.PaperCardHeaderText {
    font-size: 100%;
    font-weight: bold;
}

.paper {
    width: 90%;
    text-align: left;
}

.paper .body {
    padding: 10%;
}

.paper .body .title {
    padding-bottom: 10%;
}

.paper .body .title .text{
    color: black;
    font-weight: bold;
    font-size: 130%;
}

.paper .body .authors{
    text-align: left;
    font-size: 110%;
    font-weight: 600;
}

.paper .body .keywords{
    text-align: left;
    font-size: 100%;
    font-weight: 300;
    font-style: italic;
}

.paper #footer-flex {
    display: flex;
    justify-content : space-between;
}

 #footer-left-buttons {
    display: block;
}
