li {
    display: inline-block;
}

li input {
    display: none;
}

label {
    border: 5px solid #ffffff;
    margin: 3px;
    cursor: pointer;
  }

label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
  
:checked+label {
    background: white;
    border: 5px solid grey;
}

:checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}