.App {
  text-align: center;
  background-color: #f5f6fa;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container-papersfeed {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .container{
    max-width: 1400px !important;
  }
}

@media (min-width: 1920px) {
  .container{
    max-width: 1630px !important;
  }
}