.header {
    justify-content: space-between;
    justify-content: flex-start;
    display: flexbox;
    position: sticky;
    border-bottom: 2px solid rgb(220,224,227);
}

.header .logo {
    font-weight: bold;
    text-decoration-color: #2f87ef;
    font-size: 150%;
    font-style: oblique;
    padding: 1%;
    margin-right: 10%;
}

.header .search {
    display: flex;
    align-items: flex-start;
}

.header .search .search-input {
    /* margin-left:18%; */
    width: 400px;
    background:rgb(242,243,247);
}

.header .buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.header .buttons .notification-button {
    margin-right: 20px;
 }

 .header .buttons .notification-menu {
    height: 200px;
    width: 200%;
    overflow-y: scroll;
}

.header .buttons .notification-entry {
    margin-left: 5%;
    margin-right: 5%;
}

#no-notifications-message {
    font-size: 100%;
    color: #2f87ef;
    text-align: center;
}

.header .buttons .myaccount-button {
   margin-right: 20px;
}

.header .buttons .myaccount-menu {
    justify-content: flex-end;
}
