.PapersFeed-Header {
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 2px solid rgb(220,224,227);
    width: auto;
    z-index: 10 !important;

    min-height: 70px;
    height: 13vh;

    display: grid;
}

.PF-Header-items {
    position: absolute;
    vertical-align: middle;
}

.PapersFeed-Header .logo {
    top: 1vw;
    left: 1vw;
    font-weight: bold;
    text-decoration-color: #2f87ef;
    font-size: 150%;
    font-style: oblique;
}

.PapersFeed-Header .search {
    top: 7vh;
    left: 3vw;

    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
}

.PapersFeed-Header #PFheader .search .search-input {
    height: auto;
    width: 75vw;
    padding-right: 5px;
    background:rgb(242,243,247);
}

.PapersFeed-Header #PFheader .search .search-button{
    margin-left: 5px;
}

.PapersFeed-Header #PFheader .header-buttons {
    top: 1vh;
    right: 2vw;

    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

@media (min-width: 576px) {
    .PapersFeed-Header {
        min-height: 70px;
        height: 9vh;
    }

    .PapersFeed-Header .logo {
        top: auto;
        left: 2vw;
    }

    .PapersFeed-Header .search {
        top: auto;
        left: 28vw;
    }

    .PapersFeed-Header #PFheader .header-buttons {
        top: auto;
    } 

    .PapersFeed-Header #PFheader .search .search-input {
        width: 28vw;
    }
}

@media (min-width: 768px) {
    .PapersFeed-Header .search {
        left: 22vw;
    }

    .PapersFeed-Header #PFheader .search .search-input {
        width: 40vw;
    }
}

@media (min-width: 992px) {
    .PapersFeed-Header #PFheader .search .search-input {
        width: 50vw;
    }
}

.PapersFeed-Header #PFheader .header-buttons .dropdown-notification {
    display: flex;
    justify-content: flex-end;
}

.PapersFeed-Header #PFheader .header-buttons .dropdown-notification .notification-button {
    flex: 0 1 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PapersFeed-Header #PFheader .header-buttons .dropdown-notification .notification-menu{
    width: 100%;
    min-width: 310px;
    overflow-y: scroll;
    height: 200px;
}

.PapersFeed-Header #PFheader .header-buttons .dropdown-notification .notification-menu .notification-entry{
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.read-button {
    width: 11px;
    height: 11px;
    border: 0 none transparent;
    padding: 0;
    margin: 0;
    /* color: gray; */
}

#no-notifications-message {
    font-size: 100%;
    color: #2f87ef;
    text-align: center;
}

.PapersFeed-Header #PFheader .header-buttons .dropdown-account  {
    display: flex;
    justify-content: flex-end;
}

.PapersFeed-Header #PFheader .header-buttons .dropdown-account .myaccount-button {
    flex: 0 1 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.PapersFeed-Header #PFheader .header-buttons .dropdown-account .myaccount-menu {
    width: 100%;
}
