.review-detail .board {
    background: rgb(242,243,247);
    margin-left: 18%;
    position: relative;
    display: flex;
}

.review-detail .board .review-reply {
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-start;
}

.review-detail .board .review-reply .review {
    width: 100%;
    padding-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    border-bottom: 2px solid rgb(242,243,247);
}

.review-detail .board .review-reply .review .author {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 2%;
}

.review-detail .board .review-reply .review .title {
    text-align: left;
    font-size: 150%;
    font-weight: bold;
}

.review-detail .board .review-reply .reply {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review-detail .board .review-reply .reply .review-extra {
    margin-top: 2%;
    width: 50%;
    display:flex;
    justify-content: flex-start;
}

.review-detail .board .review-reply .reply .review-extra .like-button{
    width: 17%;
    display: flex;
    justify-content: space-around;
}

.review-detail .board .review-reply .reply .review-extra .like-button .heart-image{
    margin-top: 7%;
}

.review-detail .board .review-reply .reply .review-extra .replyCount-button{
    width: 17%;
    display: flex;
    justify-content: space-around;
}

.review-detail .board .review-reply .reply .review-extra .replyCount-button .talk-image{
    margin-top: 8%;
    margin-right: 5%;
}

.review-detail .board .review-reply .reply .new-reply {
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5%;
    margin-left: 3%;
    width: 90%;
}

.review-detail .board .review-reply .reply .new-reply .username{
    font-weight: bold;
    font-size: 100%;
}

.review-detail .board .review-reply .reply .new-reply .reply-input{
    min-height: 80%;
    margin-bottom: 1%;
}

.review-detail .board .review-reply .reply .new-reply .new-reply-button{
    margin-left: 93%;
    width: 7%;
}

.review-detail .board .review-reply .reply .replies{
    width: 90%;
    margin-left: 3%;
}