.CollectionDetail {
    background: rgb(242,243,247);
    min-height: 91vh;
}

.CollectionDetailContent {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.CollectionDetailContent #header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1vh;
}

.CollectionDetailContent #header #LikeButton {
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5px;
}

.CollectionDetailContent #header #memberButton {
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5px;
}

#manageButton {
    width: 80px;
    height: 40px;
    margin-left: 5px;
}

.CollectionInfo {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    border-bottom: 2px solid rgb(225,225,225);
}

.CollectionInfo #collectionBasicInfo #owner {
    font-weight: 600;
    font-size: large;
}

.CollectionInfo #collectionBasicInfo #descriptionBox {
    margin-left: 5%;
    margin-right: 5%;
    white-space: pre-wrap;
}

.CollectionInfo #collectionDates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: oblique;
}

.itemList {
    background: white;
    border-radius: 2%;
}

@media (min-width: 576px) {
    .itemList {
        min-height: 50vh;
    }
  }

.itemList #paperCards {
    width: 100%;
    height: 100%;
    margin: 15px;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.itemList #paperCardsLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.itemList #paperCardsRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.itemList #replies {
    display: flex;
    background: white;
    flex-direction: column;
    margin: 15px;
}

.itemList #replies #createNewReply {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itemList #replies #createNewReply #newReplyContentInput {
    width: 90%;
}

.itemList #replies #replyList {
    margin: 2%;
    text-align: left;
}