.following-list {
    min-height: 1000px;
    background: rgb(242,243,247);
    margin-left: 18%;
    position: relative;
    display: flex;
}

.item-list {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 100%;
    background: rgb(255,255,255);
}

.item-list #user-cards {
    width: 100%;
    height: 100%;
    margin: 15px;
    
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.item-list #user-cards-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-list #user-cards-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#user-message {
    font-size: 150%;
    color: #DC143C;
}
