.wrapper {
    padding-bottom: 10%;
}

.collection {
    width: 90%;
    text-align: left;
}

.collection .body {
    padding: 10%;
}
.collection .body .title {
    padding-bottom: 10%;
}
.collection .body .title .text{
    color: black;
    font-weight: bold;
    font-size: 130%;
}

.collection .like-button{
    width: 17%;
    display: flex;
    justify-content: space-around;
}

.collection .footer {
    display: flex;
    justify-content: flex-start;
}
.collection .like-button .heart-image{
margin-top: 2%;
margin-right: 1%;
}
.collection .reply-button{
    width: 17%;
    display: flex;
    justify-content: space-around;
}

.collection .reply-button .talk-image{
    margin-top: 9%;
}   