.wrapper {
    padding-bottom: 10%;
}

.collection {
    width: 90%;
    text-align: left;
}

#headerCollectionSubscription {
    background-color: rgb(234, 239, 255)
}

.collection .body {
    padding: 10%;
}
.collection .body .title {
    padding-bottom: 10%;
}
.collection .body .title .text{
    color: black;
    font-weight: bold;
    font-size: 130%;
}

.collection .footer {
    display: flex;
    justify-content: flex-start;
}